[
    {
        "type": "section",
        "text": {
            "type": "mrkdwn",
            "text": "Hello, I am your Daily-Report-Bot for the Celigo Pipeline. Today `{{ date }}` there were `{{ count }}` wells processed, with `{{ total_success }}` total successes and `{{ total_fails }}` total fails.\n\n *Here are the inividual pipeline reports:*"
        }
    },
    {
        "type": "divider"
    }
]
